.flex-container {

    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    @mixin atMedium {
        flex-direction: row;
    }

    @mixin atLarge {
        flex-direction: row;
    }

}