.our-start {

    background-color: red;

    &__img {
        flex: 100%;

        margin: auto;

        @mixin atMedium {
            flex: 33%;
            padding-right: 65px;
        }

        @mixin atLarge {
            flex: 33%;
            padding-right: 65px;
        }

    }

    &__txt-title {
        text-align: left;
    }

    &__txt {
        flex: 100%;
        margin: 0 auto;
        text-align: justify;

        @mixin atMedium {
            flex: 50%;
        }

        @mixin atLarge {
            flex: 50%;
        }

    }


}